body {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(236, 200, 155);
  font-size: 25px;
}

.content {
  /* background-color: aqua; */
  width: 1000px;
  margin: auto;
}

h1 {
  background-color: rgb(151, 87, 26);
  color: white;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  font-weight: 1000;
  border: double rgb(114, 42, 0) 20px;
  padding: 32px;
}

.recipe-list {
  list-style-type:circle;
  list-style-position: inside;
  background-color:rgb(252, 181, 74);
  border-left: dotted 6px;
  padding: 32px;
}

.list-title {
  font-weight: 600;
  font-size: 32px;
}

li {
  margin: 10px 10px;
}