body {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(236, 200, 155);
}

h1 {
  background-color: rgb(151, 87, 26);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 900;
  text-align: center;
}

.recipe-list {
  list-style: upper-alpha;
  list-style-position: outside;
}